.container-home { /* alwan el background */
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #000000;
    background: -webkit-linear-gradient(-135deg, #000000, #4158d0);
    background: -o-linear-gradient(-135deg, #000000, #4158d0);
    background: -moz-linear-gradient(-135deg, #000000, #4158d0);
    background: linear-gradient(-135deg, rgb(0, 0, 0), #4158d0);
  }
  .wrap-content {
    position: relative;
    width: 100%;
    min-height: 70vh;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;
    /* border: 10px solid green;  */
background-image: url("../images/3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  
  } 
  
  
body{
    /*font-family: 'Roboto', sans-serif; */
    background-color: #e5e5e5;
}

 nav{
   
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #8be1fb;
    width: 40px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0);
    margin-left:auto;
    
} 
a{
    position: relative;
    color: #4C4C4C;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: left;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #e5e5e5;
}
ul li:nth-child(3){
  background-color: #4b91e0;
}
nav:hover{
    width: 210px;
    transition: all 0.5s ease;
}
.content{
  z-index: 0;
  
   position: relative;
   bottom: 23vh;
   top: -10vh;
   width: 100%;
   height: 100%;
   right: 50px;
   display: flex;
   align-items: flex-start;
   
    /* border: 2px solid red;  */

}


nav:hover ~ .content {
    transform: translateX(180px);
      transition: all 0.5s ease;
  }
  nav:hover ~ .header{
    transform: translateX(200px);
    transition: all 0.5s ease;
  }
  .transactions-table {
    border-collapse: collapse;
    min-width: 400px;
    font-size: 15px;
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
    box-shadow: 0 0 5px black;
     
  }
  

  
   /* .page-title {
    position: absolute;
margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  padding: 10px; 
  border-bottom: 1px solid #ccc;
  top: 0;
  left: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
  }  */
  
  header {
    position: absolute;
    background-color: #f0f0f0;
    height: 100px;
    top: 0;
    left: 150px;
   
    border-bottom: 1px solid #ccc;
      /* border: 2px solid red;  */
  }
  
  .header-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
      /* border: 2px solid red;  */
    
  }
  
  
.logo-container {
  position: absolute;
  top: -20;
  right: 20px;
  width: 150px;
  height: 150px;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
  h11 {
    /* margin: 0;
    font-size: 24px;
     */
     position: absolute;
     
     margin: 0; 
       top: 10;
       left: 0px;
       font-size: 24px;
       font-weight: bold;
       color: #333;
       background-color: #fff;
       padding: 10px;
       
       transition: transform 0.3s ease-in-out;
       line-height: 50px;
       padding-right: 60px;
         /* border: 2px solid red;  */
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  select {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #8f8c8c;
  }
  tbody tr:nth-child(odd) {
    background-color: #fafafa;
  }
  .credit-card{
    position: relative;
    width: 50%;
    flex: 1;
    vertical-align: top;
    margin-left: 0;
    /* border: 2px solid black;  */
 
 }
 .credit-card-table {
    border-collapse: collapse;
    min-width: 400px;
    font-size: 15px;
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
    box-shadow: 0 0 5px black;
     
  }
  
  .credit-card-table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
  }
  .credit-card-table tbody tr:nth-of-type(even){
    background-color: #4bbae990;
}  

.credit-card-table tbody tr:last-of-type {
    border-bottom: #4b91e0;
}
.credit-card-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #4b91e0;
    color: white;
  }
  #credit-card,
#transactions,
#credit-card-application {
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

#credit-card,
#transactions {
  clear: both;
}

#credit-card table, #transactions table {
  width: 100%;
  border-collapse: collapse;
}

#credit-card th, #credit-card td,
#transactions th, #transactions td,
#credit-card-application label {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

#credit-card th, #transactions th {
  background-color: #f2f2f2;
}

#credit-card-application input[type="text"],
#credit-card-application input[type="email"],
#credit-card-application input[type="tel"],
#credit-card-application select,
#credit-card-application textarea,
#credit-card-application button[type="submit"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
}

#credit-card-application textarea {
  height: 150px;
}

#credit-card-application button[type="submit"] {
  display: inline-block;
  padding:10px 20px;
  background-color: #4b91e0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#credit-card-application button[type="submit"]:hover {
  background-color:#4b91e0;
}